{% extends "itk/base.html" %}
{% block content %}
    <h1>Please choose an site in the menu.</h1>
    <h2 id="demo">huhu</h2>
    {% for post in posts %}
        <div class="row">
          <div class="col-sm-2" onclick="loadDoc()">{{ post.title }}</div>
          <div class="col-sm-10">{{ post.content }}</div>
        </div>
    {% endfor %}
    <script>
    function load_question(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML = "7";
        }
      };
      xhttp.open("GET", "", true);
      xhttp.send();
    }

    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML = "7";
        }
      };
      xhttp.open("GET", "", true);
      xhttp.send();
    }
    </script>
{%  endblock %}